
#rock{
    grid-row: 1 / 2;
}

.box{
    animation-name: fade-in;
    animation-duration: 2s;
}

.box--logo{
    display:flex;
    justify-content: center;
    padding-top: 1.5rem;

    img{
        width: 7rem;
        height: 7rem;
        z-index: 1;
    }
}


@media (min-width: 748px) {

#rock{
    grid-row: 1 / 23;
    grid-column: 1 / 7;
}

.box--logo{
    padding-top: 2.5rem;
        
    img{
        width: 180px;
        height: auto;
    }
}

}